In [2]:
import numpy as np
import pandas as pd
s = pd.Series([1,3,np.nan,7.0,9.0])

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
import numpy as np
import pandas as pd
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [6]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
s = pd.Series([1,3,np.nan,7.0,9.0])

In [8]:
s

0    1.0
1    3.0
2    NaN
3    7.0
4    9.0
dtype: float64

In [12]:
dates = pd.date_range('20130101', periods=6)

In [13]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df = pd.DataFrame( np.random.randn(6,4), columns=list('ABCD'), index = dates)

In [17]:
df

                   A         B         C         D
2013-01-01 -1.201629  1.369825 -0.366429 -1.014874
2013-01-02  0.430770  0.256134  1.144424 -0.719210
2013-01-03  1.632195 -0.672679 -0.093480 -1.138777
2013-01-04  1.310841 -0.587235  2.063735 -0.109524
2013-01-05  0.738052 -0.471678  0.719336  0.222941
2013-01-06  0.070633  2.226836 -1.943651  0.464315

In [20]:
dates

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df = pd.DataFrame(np.random.randn(5,5), index=dates, columns=list('12345'))

In [23]:
df

                   1         2         3         4         5
2019-01-01 -0.601448 -1.798771 -0.897399 -0.676280 -0.724082
2019-01-02  1.503338  0.427567  1.372417 -1.754507 -1.257790
2019-01-03  1.113930  0.003738 -0.740908 -1.026897 -0.733293
2019-01-04  0.338613 -0.451579 -0.756488 -2.020024 -1.151381
2019-01-05  0.043290  0.654716  0.328555 -0.694290  0.726626

In [29]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

In [30]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [31]:
af = pd.DataFrame({'A'= 1.,
                   'B'= pd.Timestamp('20190101'),
                   'C'= pd.Series(2, index= list(range(6)), dtype = 'int32'),
                   'D' = np.array([4]*6, dtype = 'float32'),
                   'E' = pd.Categorical(["test", "train", "te", "tr","tes", "trai"]),
                   'F' = 'fooooooooooooooo'
    
    
})

SyntaxError: invalid syntax (<ipython-input-31-955fe4c0a5f6>, line 1)

In [32]:
af = pd.DataFrame({'A'= 1.,
                   'B'= pd.Timestamp('20190101'),
                   'C'= pd.Series(2, index= list(range(6)), dtype = 'int32'),
                   'D' = np.array([4]*6, dtype = 'float32'),
                   'E' = pd.Categorical(["test", "train", "test", "train","test", "train"]),
                   'F' = 'fooooooooooooooo'
    
    
})

SyntaxError: invalid syntax (<ipython-input-32-533bfc03aed6>, line 1)

In [34]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [35]:
df2.tail(3)

     A          B    C  D      E    F
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [36]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [37]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [38]:
df.loc[dates[0]]

1   -0.601448
2   -1.798771
3   -0.897399
4   -0.676280
5   -0.724082
Name: 2019-01-01 00:00:00, dtype: float64

In [39]:
df.loc[dates[3]]

1    0.338613
2   -0.451579
3   -0.756488
4   -2.020024
5   -1.151381
Name: 2019-01-04 00:00:00, dtype: float64